In [1]:
import pandas as pd 
import numpy as np
from pathlib import Path

In [28]:
col_nums_value=[]
for x in range(5,269):
    col_nums_value.append(x)

In [29]:
# Read in ZHVI
file_path = Path("../Project-One/zillow_home_value_index.csv")
home_value_index = pd.read_csv(file_path, index_col="RegionName", parse_dates=col_nums_value, infer_datetime_format=True)
home_value_index.head(10)

,RegionID,SizeRank,RegionType,StateName,1/31/2000,2/29/2000,3/31/2000,4/30/2000,5/31/2000,6/30/2000,...,3/31/2021,4/30/2021,5/31/2021,6/30/2021,7/31/2021,8/31/2021,9/30/2021,10/31/2021,11/30/2021,12/31/2021
RegionName,,,,,,,,,,,,,,,,,,,,,
United States,102001,0,Country,NaN,127090,127434,127795,128532,129274,130015,...,278389,282245,286948,292471,298349,303739,308359,312452,316333,320662
"New York, NY",394913,1,Msa,NY,223496,224831,226033,228398,230600,232945,...,523812,528535,534026,541165,549066,556634,562515,567048,570588,573813
"Los Angeles-Long Beach-Anaheim, CA",753899,2,Msa,CA,231337,232142,233376,235722,238237,240612,...,757038,768091,783767,803587,824502,837956,847074,851836,859045,868350
"Chicago, IL",394463,3,Msa,IL,168878,169276,169792,170824,171917,173001,...,260755,263775,266508,270301,274437,278525,281576,284217,286894,289595
"Dallas-Fort Worth, TX",394514,4,Msa,TX,130599,130703,130790,131002,131225,131411,...,285247,290780,297205,304541,312359,320271,327472,333559,339033,344919
"Philadelphia, PA",394974,5,Msa,PA,129467,129900,130161,130809,131333,131926,...,282880,286195,290533,295351,299868,303479,306335,308781,311255,313529
"Houston, TX",394692,6,Msa,TX,125344,125421,125303,125421,125428,125629,...,240478,242919,246069,251299,257071,263037,267879,272146,275290,278685
"Washington, DC",395209,7,Msa,DC,191958,192203,192580,193381,194493,195716,...,485371,492165,499337,506077,511099,514688,517135,519999,522901,526296
"Miami-Fort Lauderdale, FL",394856,8,Msa,FL,126632,127098,127516,128338,129013,129699,...,335376,339062,344822,351118,358571,366066,374275,382545,390282,397603
"Atlanta, GA",394347,9,Msa,GA,153624,154135,154661,155725,156766,157793,...,276690,281473,286888,293662,301022,308446,315500,322906,330437,338243

In [31]:
home_value_index.dtypes

RegionID       int64
SizeRank       int64
RegionType    object
StateName     object
1/31/2000     object
               ...
8/31/2021     object
9/30/2021     object
10/31/2021    object
11/30/2021    object
12/31/2021    object
Length: 268, dtype: object

In [3]:
# Drop RegionType and StateName
home_value_index.drop(columns=['RegionType', 'StateName'], inplace=True)
home_value_index.head()

,RegionID,SizeRank,1/31/2000,2/29/2000,3/31/2000,4/30/2000,5/31/2000,6/30/2000,7/31/2000,8/31/2000,...,3/31/2021,4/30/2021,5/31/2021,6/30/2021,7/31/2021,8/31/2021,9/30/2021,10/31/2021,11/30/2021,12/31/2021
RegionName,,,,,,,,,,,,,,,,,,,,,
United States,102001,0,127090.0,127434.0,127795.0,128532.0,129274.0,130015.0,130770.0,131575.0,...,278389,282245,286948.0,292471,298349.0,303739.0,308359.0,312452.0,316333,320662.0
"New York, NY",394913,1,223496.0,224831.0,226033.0,228398.0,230600.0,232945.0,235408.0,237958.0,...,523812,528535,534026.0,541165,549066.0,556634.0,562515.0,567048.0,570588,573813.0
"Los Angeles-Long Beach-Anaheim, CA",753899,2,231337.0,232142.0,233376.0,235722.0,238237.0,240612.0,243044.0,245596.0,...,757038,768091,783767.0,803587,824502.0,837956.0,847074.0,851836.0,859045,868350.0
"Chicago, IL",394463,3,168878.0,169276.0,169792.0,170824.0,171917.0,173001.0,174201.0,175546.0,...,260755,263775,266508.0,270301,274437.0,278525.0,281576.0,284217.0,286894,289595.0
"Dallas-Fort Worth, TX",394514,4,130599.0,130703.0,130790.0,131002.0,131225.0,131411.0,131610.0,131978.0,...,285247,290780,297205.0,304541,312359.0,320271.0,327472.0,333559.0,339033,344919.0

In [25]:
import numpy as np
col_nums=[]
for x in range(3,99):
    col_nums.append(x)

[3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98]

In [26]:
# Read in ZORI 


file_path = Path("../Project-One/zillow_observed_rent_index.csv")
rental_index = pd.read_csv(file_path, index_col="RegionName", parse_dates=col_nums, infer_datetime_format=True)
rental_index.head(10)

,RegionID,SizeRank,2014-01,2014-02,2014-03,2014-04,2014-05,2014-06,2014-07,2014-08,...,2021-03,2021-04,2021-05,2021-06,2021-07,2021-08,2021-09,2021-10,2021-11,2021-12
RegionName,,,,,,,,,,,,,,,,,,,,,
United States,102001,0,1318,1324,1329,1334,1340,1345,1351,1356,...,1723,1741,1761,1782,1803,1824,1845,1867,1889,1911
"New York, NY",394913,1,4684,4705,4725,4746,4767,4787,4808,4829,...,5214,5255,5310,5366,5421,5481,5541,5601,5664,5728
"Los Angeles-Long Beach-Anaheim, CA",753899,2,1750,1761,1771,1782,1792,1803,1813,1824,...,2423,2443,2468,2492,2516,2541,2566,2592,2618,2644
"Chicago, IL",394463,3,1405,1409,1413,1416,1420,1423,1427,1430,...,1634,1644,1656,1668,1680,1692,1705,1717,1731,1744
"Dallas-Fort Worth, TX",394514,4,1128,1131,1135,1138,1142,1146,1149,1153,...,1517,1536,1557,1578,1599,1621,1643,1665,1688,1710
"Philadelphia, PA",394974,5,1331,1333,1336,1339,1341,1344,1346,1349,...,1628,1640,1654,1668,1682,1696,1710,1725,1740,1755
"Houston, TX",394692,6,1161,1168,1174,1181,1188,1194,1201,1207,...,1391,1403,1417,1430,1444,1458,1472,1486,1501,1515
"Washington, DC",395209,7,1772,1774,1777,1780,1783,1785,1788,1791,...,1972,1985,2002,2019,2035,2053,2071,2088,2107,2126
"Miami-Fort Lauderdale, FL",394856,8,1563,1570,1578,1586,1593,1601,1608,1616,...,2112,2150,2194,2238,2282,2327,2373,2419,2466,2513
"Atlanta, GA",394347,9,1078,1082,1085,1089,1093,1097,1101,1105,...,1642,1668,1697,1725,1754,1783,1813,1842,1872,1902

In [27]:
datatypes = rental_index.dtypes
datatypes

RegionID     int64
SizeRank     int64
2014-01     object
2014-02     object
2014-03     object
             ...
2021-08     object
2021-09     object
2021-10     object
2021-11     object
2021-12     object
Length: 98, dtype: object